{% extends "base.html" %}
{% load staticfiles %}
{% block header %}Home{% endblock %}
{% block h1 %}
    <div class="grid_4">
        <h3>COPENS - Corpora Open and Search</h3>
        <p style="font-size:20px">開放語料庫與搜尋工具。動態更新，自動預處理與自由標記。讓我們期待一個內容共享，工具共創，製程開放的新一代語料庫語言學。</p>
    </div>
    <div class="grid_8">
        <div class="flexslider">
            <ul class="slides">
                <li>多種語料庫查詢<img src="{% static 'img/copen_sh/1.png' %}"></li>
                <li>多樣化的查詢功能<img src="{% static 'img/copen_sh/2.png' %}"></li>
                <li>豐富的語料<img src="{% static 'img/copen_sh/3.png' %}"></li>
                <li>使用Brat圖形化標記<img src="{% static 'img/copen_sh/4.png' %}"></li>
                <li>簡潔的資料呈現<img src="{% static 'img/copen_sh/5.png' %}"></li>
            </ul>
        </div>
    </div>
{% endblock h1 %}


{% block after_content %}
    <div class="wrapper clearfix">
        <section>
            <div style="text-align:center;">
                <div>
                    <a href="https://lopen.hackpad.com/COPENS.-workshop.1-priu0FuIXvB" class="buttonlink" style="display:inline-block;float:none;" target="_blank">COPENS工作坊：Hackpad</a> 
                    <a href="https://github.com/loperntu/copens/blob/master/copens_intro.Rmd" rel="copens_workshop" class="buttonlink fancybox" style="display:inline-block;float:none;" target="_blank">COPENS工作坊：簡報</a>
                    <a href="{% static 'img/misc/copens_workshop_album/IMAG6585.jpg' %}" rel="copens_workshop" class="buttonlink fancybox" style="display:inline-block;float:none;">COPENS工作坊：照片</a>

                    {% with 'IMAG6587.jpg IMAG6592.jpg IMAG6605_1.jpg IMAG6609_1.jpg IMAG6614_1.jpg IMAG6629.jpg' as lst %}
                        {% for fn in lst.split %}
                            <a href="{% static 'img/misc/copens_workshop_album/' %}{{fn}}" rel="copens_workshop" class="fancybox"></a>
                        {% endfor %}
                    {% endwith %}
                </div>
            </div>
    
        </section>
    </div>


{% endblock after_content %}


{% block extra_css %}
    <style>
        .flexslider {
          text-align:center;          
        }
    </style>
    <link rel="stylesheet" type="text/css" href="{% static 'packages/fancybox2/source/jquery.fancybox.css' %}" media="screen" />
{% endblock extra_css%}

{% block extra_js %}
    <script type="text/javascript" src="{% static "packages/fancybox2/source/jquery.fancybox.js" %}"></script>
    <script>
        $('.fancybox').fancybox();
    </script>
{% endblock extra_js %}
